<%- include("partials/header.ejs") %>

<%- include("partials/navbar.ejs") %>
<div id="homepage-container">

  <% blogs.forEach(blog => { %>
  <div class="blog-item">
    <a href="/configure/<%= blog.id %>">
      <h1><%= blog.title %></h1>
    </a>
    <p><%= blog.date %></p>
    <% if (blog.content.length >= 500) { %>
        <p><%= blog.content.substring(0, 500)%>...</p>
    <% } else { %>
        <p><%= blog.content %></p>
    <% } %>
    <hr>
  </div>
  <% }); %>

</div>





<%- include("partials/footer.ejs") %>